/**
 * Created by Anu Ganesh
 *
 * @format
 */

/*Variables*/
:root {
    --color-blue: blue;
    --color-orange: #E28118;
    --color-main-heading: #4A596B;
}

.ex-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.ex-flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.ex-vertical {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ex-transition {
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}

.ex-transition-medium {
    -webkit-transition: all 1.2s ease;
    transition: all 1.2s ease;
}

.ex-transition-large {
    -webkit-transition: all 1.8s ease;
    transition: all 1.8s ease;
}

/*--------------------------------------- Mixins Ends -------------------------------------*/
/*------------------------------------ Site Wide Starts -----------------------------------*/
.container {
    width: 100% !important;
    max-width: 100% !important;
}

#cases-table-section {
    opacity: 1;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.case-payment-section {
    display: block;
}

.btn-primary {
    background: #1076b9;
}

.btn-primary:hover {
    background: #095b90;
}

.alert {
    font-size: 19px;
    padding: 15px;
}

.panel-heading h1{
        font-size: 21px;
        font-weight: 500;
        text-align: center;
}

/*------------------------------------- Site Wide Ends ------------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/
.active {
    color: #335178;
}

.kmc-header {
    position: relative;
    background-repeat: no-repeat;
    z-index: 100;
    color: #fff;
    background-size: cover;
    background-position: center;
}

.kmc-header.overlay {
    position: relative;
}

.kmc-header.overlay:after {
    content: "";
    position: absolute;
    background-color: rgba(23, 56, 119, 0.75);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}

.top-header {
    padding: 16px 0;
    max-height: 58px;
}

.top-header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 80px;
}

.top-header .wrapper .date span iframe {
    max-width: 100%;
}


.top-header .wrapper .tag-line p {
    font-weight: 700;
    font-size: 16px;
}

.top-header .wrapper .language-selection a {
    line-height: 25px;
    color: #fff;
    margin-left: 10px;
}

.top-header .wrapper .language-selection a.current {
    text-decoration: underline;
    font-weight: 600;
}

.top-header .wrapper .language-selection a:hover {
    color: #94c1fb;
}

.top-header .wrapper a.login-btn {
    background: white;
    padding: 5px 25px;
    margin-left: 30px;
    border-radius: 4px;
    color: #000000;
    letter-spacing: 0.4px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    transition: .3s;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.top-header .wrapper .language-selection a.login-btn:hover {
    background: var(--color-orange);
    color: white;
}

.main-header-wrapper {
    padding: 18px 80px;
}

.main-header-wrapper .main-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-header-wrapper .main-header-container .logo-title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo-container {
    width: 100px;
    margin-right: 18px;
}

.logo-container img {
    width: 100%;
    height: 100%;
}

.main-header-wrapper .main-header-container .logo-title-wrapper .title-container h1 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
}

.main-header-wrapper .main-header-container .logo-title-wrapper .title-container h1 span {
    font-size: 22px;
    letter-spacing: 0.5px;
}

.main-header-wrapper .main-header-container .logo-title-wrapper .title-container h1 span:last-of-type {
    font-weight: 700;
    font-size: 24px;
}

.main-header-wrapper .main-header-container .flag-wrapper img {
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
    width: auto;
}

.main-header-wrapper .main-header-container .flag-wrapper img:first-of-type {
    margin-right: 15px;
}

.main-header-wrapper .main-header-container .flag-wrapper img:last-of-type {
    width: 80px;
    height: auto;
    /*display: block;*/
    margin-top: 10px;
}

#header-wrapper .header-container .news-slider-wrapper {
    height: 56px;
    background-color: #263a57;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    padding: 0 80px;
}

#header-wrapper .header-container .news-slider-wrapper .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#header-wrapper .header-container .news-slider-wrapper .wrapper h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
}

#header-wrapper .header-container .news-slider-wrapper .wrapper h2::after {
    content: "|";
    margin-left: 15px;
    font-weight: 300;
}

#header-wrapper .header-container .news-slider-wrapper .wrapper marquee ul li {
    display: inline-block;
    margin-right: 20px;
}

#header-wrapper .header-container .news-slider-wrapper .wrapper marquee ul li a {
    white-space: nowrap;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

#header-wrapper .header-container .news-slider-wrapper .wrapper marquee ul li a:hover {
    color: #e28118;
}

.container {
    width: 100%;
    padding: 0;
}

.navigation-container {
    background: white;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.navigation-wrapper {
    padding: 0px 66px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.navigation-wrapper .mobile-menu {
    font-size: 24px;
    padding: 10px 0;
    display: none;
}

.navigation-wrapper .mobile-menu .toggle-btn {
    cursor: pointer;
}


.navigation-wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
}

.navigation-wrapper ul li {
    padding: 15px 0;
}

.navigation-wrapper ul li:hover {
    background: var(--color-orange);
}

.navigation-wrapper ul li:hover a {
    color: white
}

.navigation-wrapper ul li a {
    color: #222222;
    font-weight: 500;
    font-size: 18px;
    padding: 0 15px;
}

.navigation-wrapper ul li.active a {
    color: #335178;
}

/*.navbar-list a {*/
/*  color: black;*/
/*  font-weight: 500;*/
/*  font-size: 17px;*/
/*  pointer-events: auto;*/
/*}*/

/*.navbar-list a:hover {*/
/*  color: #335178;*/
/*}*/

/*.navbar-list a.active {*/
/*  color: #335178;*/
/*}*/

/*.navbar-list.active a {*/
/*  color: #335178;*/
/*}*/

/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*-------------------------------- Content Wrapper Starts ---------------------------------*/


#login-page .login-form-section {
    background: #ddd8d8;
    max-width: 500px;
    margin-inline: auto;
    margin: 100px auto 100px;
    border-radius: 10px;
    padding: 20px 60px 30px;
    position: relative;
}

#login-page .login-form-section .header-section {
    position: absolute;
    top: -40px;
    left: 30px;
    width: 440px;
    background: #1076b9;
    color: white;
    padding: 20px 30px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    text-align: center;
}

#login-page .login-form-section .header-section .left-content img {
    width: 100px;
}

#login-page .login-form-section .header-section .right-content h3 {
    margin-bottom: 5px;
}

#login-page .login-form-section .login-form {
    margin-top: 90px;
    text-align: center;
}

#login-page .login-form-section .login-form h4 {
    font-size: 20px;
    color: #1765bd;
    margin-bottom: 20px;
}

#login-page .login-form-section .login-form h5 {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 35px;
    color: #656464;
    font-weight: 400;
    word-spacing: 1px;
}

#login-page .login-form-section .login-form input {
    display: block;
    outline: none;
    margin-bottom: 20px;
    padding: 8px 12px;
    border: 1px solid #bdbdbd;
    width: 100%;
    border-radius: 7px;
}

#login-page .login-form-section .login-form input:focus {
    border: 1px solid #2993ff;
    box-shadow: 0 0 5px rgba(34, 214, 255, 0.36);
}

#login-page .login-form-section .login-form .login-form-wrapper p {
    margin-top: 20px;
}

.main-section {
    background: #f1f1f1;
    padding: 10px 80px;
}

/*.main-section-wrapper {*/
/*  padding: 40px 20px;*/
/*}*/
.secondary-navlist {
    display: flex;
    gap: 2rem;
    margin-top: 15px;
}

.secondary-navlist a {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    transition: .3s;
}

.secondary-navlist a i {
    margin-right: 5px;
}

.secondary-navlist .first-button {
    background: #e54a4a;
}

.secondary-navlist .first-button:hover {
    background: #ff4f4f;
}

.secondary-navlist .second-button {
    background: #538a43;
}

.secondary-navlist .second-button:hover {
    background: #54a33e;
}

.secondary-navlist .third-button {
    background: #366bd4;
    margin-left: auto;
    float: right;
}

.secondary-navlist .third-button:hover {
    background: #3e7cf7;
}
.profile-section {
    margin: 4rem 0;
}
.profile-section {
    background: white;
    border-radius: 10px;
}
.profile-section .profile-section-wrapper{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    width: 100%;
    padding: 45px;
    border-radius: 7px;
}
.profile-section .profile-section-heading {
    background: #cc3c3c;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 21px;
    word-spacing: 4px;
}
.profile-section .profile-section-wrapper .profile-item {
    flex: 1 0 22%;
}
.profile-section .profile-section-wrapper .profile-item .img-container {
    width: 20rem;
    margin-inline: auto;
}
.profile-section .profile-section-wrapper .profile-item .img-container img{
    border-radius: 8px;
}
.profile-section .profile-section-wrapper .profile-item .info-container .name {
    font-size: 19px;
    color: #1076b9;
}
.profile-section .profile-section-wrapper .profile-item .info-container .position {
    font-size: 16px;
    margin-top: 3px;
    color: #595959;
    margin-bottom: 8px;
}
.search-case-section {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 30px;
    background: #dadada;
    padding: 30px 0;
    margin: 30px 0;
    border-radius: 10px;
}

.search-case-section button {
    padding: 10px 80px;
    margin: 0;
    align-self: flex-end;
    line-height: 22px;
}

.search-case-section .section-content-wrapper {
    padding: 20px 100px;
}

.search-case-section .section-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.search-case-section .section-content-container .section-content-item {
    flex-basis: 30%;
}
.search-case-section .section-content-container .section-content-item label {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}

.search-case-section .section-content-container .section-content-item input,
.search-case-section .section-content-container .section-content-item select {
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #9c9c9c;
    background: white;
    color: #5f5f5f;
    width: 100%;
    line-height: 25px;
}

.section-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px;
}

.section-btn button {
    border: none;
    padding: 10px 50px;
    background: #335178;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.section-btn button span {
    margin-left: 4px;
    font-size: 16px;
}

.section-btn button:focus {
    outline: none;
}

.section-btn button:hover {
    background: #263c59;
}

.common-cause-list-section {
    border: 1px solid #caced1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 60px;
    width: 50vw;
    margin-inline: auto;
}

.common-cause-list-section .heading-section {
    background: #337ab7;
    text-align: center;
    padding: 15px;
}

.common-cause-list-section .heading-section h2 {
    color: white;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
}

.common-cause-list-section .content-section {
    padding: 20px;
}

.common-cause-list-section .content-section label {
    color: black;
}

.common-cause-list-section .content-section .ijalas-search-btn {
    display: block;
    margin-inline: auto;
    padding: 8px 30px;
    font-size: 16px;
}

.common-cause-list-section .content-section .new-link {
    margin-left: 26%;
    color: #337ab7;
    text-decoration: underline;
}

.common-cause-list-section .content-section .new-link:hover {
    color: #fd4040;
}

.common-cause-list-section .content-section select {
    min-height: 42px;
}

.ijalas-tables-wrapper {
    display: block;
}

.ijalas-tables-wrapper.show {
    display: block;
}

.common-table-section {
    margin-bottom: 60px;
}

.common-table-section table {
    background: #efefef;
}

.common-table-section table thead {
    color: white;
    background: #337ab7;
    font-weight: 300;
}

.common-table-section table thead tr th {
    font-weight: 400;
    padding: 10px 15px;
    border: 1px solid white;
}

.common-table-section table tbody tr td {
    border: 1px solid #c3c3c3;
    padding: 10px 15px;
}

.common-table-section table tbody tr:last-of-type td {
    background: #efefef;
}

.common-table-section table tbody tr td,
.common-table-section table tbody tr td a {
    color: #3e3e3e;
}

.common-table-section table tbody tr td a:hover {
    text-decoration: underline;
    color: #337ab7;
}

.common-table-section .last-table tr td {
    background: #efefef;
}

.ijalas-table-section .header-section .top-heading {
    text-align: center;
    background: #8f8f8f;
    color: white;
    padding: 12px;
    margin-bottom: 20px;
}

.ijalas-table-section .header-section .top-heading h3 {
    font-size: 21px;
    letter-spacing: 0.4px;
    word-spacing: 2px;
}

.ijalas-table-section .header-section .bottom-heading {
    margin: 40px 0;
}

.ijalas-table-section .header-section .bottom-heading .row {
    display: flex;
    justify-content: space-evenly;
}

.ijalas-table-section .header-section .bottom-heading .row .row-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ijalas-table-section .header-section .bottom-heading .row .row-item:first-of-type,
.ijalas-table-section .header-section .bottom-heading .row .row-item:last-of-type {
    background: #ed5959;
    color: white;
    padding: 15px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ijalas-table-section .header-section .bottom-heading .row .row-item h2 {
    margin-bottom: 5px;
}

.ijalas-table-section .header-section .bottom-heading .row .row-item h3 {
    font-weight: 400;
    font-size: 18px;
}

.saptahik-table-section .header-section {
    margin-bottom: 30px;
}

.saptahik-table-section .header-section h3 {
    margin-bottom: 20px;
    font-size: 21px;
    color: #337ab7;
}

#cases-table-section {
    display: none;
    overflow-x: auto;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

#cases-table-section table,
#cases-table-section td {
    border: 1px solid #bbb5b5;
    border-collapse: collapse;
}

#cases-table-section th,
#cases-table-section td {
    padding: 10px;
}

table tr:first-of-type {
    border-color: white;
}

#cases-table-section table th {
    font-weight: 500;
    background: #525256;
    color: white;
    border: 1px solid white;
}

#feedback-page .feedback-section {
    max-width: 600px;
    margin-inline: auto;
    background: #e6e6e6;
    padding: 30px 60px;
    margin-bottom: 30px;
}

#feedback-page .feedback-section .common-main-heading {
    margin-bottom: 40px;
}

#feedback-page .feedback-section .form-group label {
    font-size: 17px;
    margin-bottom: 5px;
}

/*#feedback-page .feedback-section .form-group .row{*/
/*    margin: 0;*/
/*}*/

#feedback-page .feedback-section .form-group .form-control {
    /*padding: 18px 12px;*/
}

#feedback-page .feedback-section .form-group .type-section {
    display: flex;
    gap: 40px;
}

#feedback-page .feedback-section .form-group .type-section .type {
    color: #444242;
    font-size: 17px;
    display: flex;
    gap: 10px;
}

#feedback-page .feedback-section button {
    font-weight: 400;
    letter-spacing: 0.4px;

}

.case-registration-option-wrapper {
    padding: 20px 0;
    width: 100%;
    margin-inline: auto;
}

.case-registration-option-wrapper .btn,
.case-registration-option-wrapper .btn:link,
.case-registration-option-wrapper .btn:visited {
    display: block !important;
    padding: 12px 20px;
    font-size: 17px;
    color: white;
    border-radius: 7px;
    font-weight: 400;
    letter-spacing: 0.4px;
    white-space: normal;
}

.case-registration-option-wrapper p {
    text-align: center;
    font-weight: 600;
    color: #2f2e2e;
    font-size: 18px;
    margin: 15px 0;
}

.case-registration-option-wrapper .note {
    background: #a1d7a1;
    color: #444444;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.case-registration-option-wrapper .btn {
    color: #fff !important;
}

.second-note {
    background: #ffbbbb;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
    letter-spacing: 0.4px;
    cursor: pointer;
    border-radius: 7px;
    min-height: 60px;
}

.second-note .left-content {
    margin-left: 30%;
}

.second-note .left-content p {
    color: #444444;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.second-note .right-content i {
    color: #444444;
}

.second-note-content {
    display: none;
    background: #ffbbbb;
    padding: 20px;
    font-size: 18px;
}

.second-note-content.show {
    display: block;
}

.second-note-content ul li {
    margin-bottom: 5px;
    font-size: 18px;
    color: #404040;
    letter-spacing: 0.2px;
}

.second-note-content p {
    color: #404040;
    font-weight: 400;
    margin: 20px 0;
}

.case-registration-option-wrapper .separator {
    text-align: center;
    margin: 20px 0;
    font-weight: 600;
    color: #2f2e2e;
    font-size: 21px;
}

.case-registration-option-wrapper .info {
    font-weight: 300;
    font-size: 16px;
    word-spacing: 2px;
    color: #545454;
    text-align: center;
    margin-bottom: 10px;
}

.case-registration-option-wrapper .accordion-content {
    display: none;
    transiton: .5s;
}

.case-registration-option-wrapper .accordion-content.show {
    display: block;
}

.case-registration-option-section .upload-section-1 h4 {
    font-size: 17px;
    text-align: center;
    color: #646464;
    line-height: 1.7;
    font-weight: 400;
}

.case-registration-option-section .upload-section-1 input {
    margin: 20px 0 0 90px;
    margin-inline: auto;
    outline: none;
}

.case-registration-option-section .upload-section-1 .ujuri-forms {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    margin-inline: auto;
    justify-content: center;
}

.case-registration-option-section .upload-section-1 .file-upload-section {
    background: #e1effb;
    padding: 30px 60px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.case-registration-option-section .upload-section-1 .file-upload-section .form-group {
    margin-bottom: 0;
}

.case-registration-option-section .upload-section-1 .ujuri-forms a {
    background: #337ab7;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    min-width: 150px;
    text-align: center;
}

.case-registration-option-section .upload-section-2 {
    padding: 10px;
}

.case-registration-option-section .upload-section-2 h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    color: #1373c5;
    margin-top: 10px;
}

.case-registration-option-section .upload-section-2 #recordingsList li a {
    background: #337ab7;
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}

.case-registration-option-section .upload-section-2 #recordingsList li a:hover {
    background: #286090;
}

.case-registration-section {
    padding: 40px 80px;
    background: #f1f1f1;
    color: #000;
}
#online-case-registration-page  .terms-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px 0 20px;
    padding-left: 0;
}
#online-case-registration-page  .terms-section input[type="checkbox"]{
    margin-top: -5px;
    font-size: 15px;
}
#online-case-registration-page  .terms-section .terms {
    font-weight: 300;
    letter-spacing: 0.2px;
    text-decoration: underline;
    font-size: 18px;
    margin-top: 50px;
}
#online-case-registration-page  .terms-section .terms:link,
#online-case-registration-page  .terms-section .terms:visited {
    color: #23527c;
}
#online-case-registration-page  .terms-content {
    display: none;
    background: #3d3d3de6;
    color: white;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
#online-case-registration-page  .terms-content.show {
    display: block;
}
#online-case-registration-page  .terms-content .terms-content-wrapper{
    background: white;
    width: 60%;
    margin-inline: auto;
    padding: 40px 30px;
    overflow-y: auto;
    height: 90%;
    margin-top: 40px;
}
#online-case-registration-page  .terms-content .terms-content-wrapper .content-wrapper{
    position: relative;
}
#online-case-registration-page  .terms-content .terms-content-wrapper .content-wrapper h3{
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 30px;
    color: #286090;
    line-height: 1.4;
}
#online-case-registration-page  .terms-content .terms-content-wrapper .content-wrapper ul li{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 12px;
    letter-spacing: 0.2px;
    color: black;
    line-height: 1.8;
}
#online-case-registration-page  .terms-content .terms-content-wrapper .content-wrapper .close-btn{
    position: absolute;
    top: -32px;
    right: -15px;
    color: #6c6c6c;
    font-size: 16px;
    cursor: pointer;
}

#melmilap-karta-page .select-dropdown-section {
    max-width: 500px;
    margin-inline: auto;
    margin-top: 30px;
}

#melmilap-karta-page .select-dropdown-section .form-select {
    padding: 5px;
    font-size: 16px;
}

#melmilap-karta-page .select-dropdown-section .multi-select-menu input {
    width: auto !important;
    margin-top: 5px !important;
}

#melmilap-karta-page .panel .select-dropdown-section .row .col .btn-group {
    width: 100%;
}

#melmilap-karta-page .panel .select-dropdown-section .row .col .btn-group button {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    color: #495057;
    height: 34px !important;
    width: 100%;
    text-align: left;
    padding: 5px 12px;
}

#melmilap-karta-page .panel .select-dropdown-section .row .col .btn-group button span{
    font-size: 16px;
}

#melmilap-karta-page .panel .select-dropdown-section .row .col .btn-group button .caret{
    display: none;
}

#melmilap-karta-page .panel .select-dropdown-section .row .col .btn-group .multiselect-container{
    width: 100%;
}

#melmilap-karta-page .panel .select-dropdown-section .row .col .btn-group button::after{
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 11px;
    vertical-align: baseline;
    border: none;
    position: absolute;
    right: 5px;
    top: 8px;
}

#melmilap-karta-page .panel .select-dropdown-section .row .col .btn-group ul li {
    font-size: 15px;
}

#melmilap-karta-page .panel .panel-heading {
    padding: 15px;
}

#melmilap-karta-page .panel .panel-heading h1 {
    font-size: 21px;
    font-weight: 500;
}

#melmilap-karta-page .panel .panel-body table tr td button {
    font-size: 16px;
    padding: 3px 15px;
    background: #1076b9;
}

#melmilap-karta-page .panel .select-melmilapkarta-section {
    margin-top: -20px;
}

.upload-section {
    padding: 30px;
    background: #ffffff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.upload-section h2 {
    text-align: center;
    font-size: 21px;
}

.upload-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-section form .form-group .btn {
    padding: 10px 15px;
    font-size: 16px;
}

.case-registration-section h4 {
    text-align: center;
    margin-top: 30px;
    color: #f02d2d;
    font-weight: 600;
    font-size: 21px;
}

.case-registration-section input:focus {
    outline: none;
}

.case-register-section {
    background: #fff;
    padding: 30px;
}

.case-register-section h2 {
    font-size: 19px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
}

.case-register-section .section-1 .form-group label {
    font-size: 15px;
    color: #6b6a6a;
}

.case-register-section .section-1 input[type="file"] {
    width: 100%;
}

.case-register-section .section-1 input[type="file"]::after {
    width: 100%;
}

.case-register-section .section-3 .form-group label {
    text-align: center;
    color: #525252;
}

.common-section {
    background: #cfcfcf9c;;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.section-title {
    width: 100%;
}

.section-title h3 {
    text-align: center;
    font-size: 21px;
    margin-bottom: 10px;
    color: #1373c5;
}

.section-content {
    width: 100%;
}

.section-content form input[type='file'] {
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form-group {
    margin-bottom: 30px;
}

.form-group label {
    display: block;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.2px;
    word-spacing: 1px;
    margin-bottom: 10px;
    color: #444242;
}

.form-group select {
    width: 100%;
    /*padding: 8px 20px;*/
    display: block;
    font-size: 16px;
    margin-inline: auto;
    background: white;
    border: 1px solid #acabab;
    border-radius: 5px;
    color: #a0a09f;
    height: auto !important;
}

.form-group select:focus {
    outline: none;
}


.form-group #editor {
    background: #fff;
    border: 1px solid #c7c2c2;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 250px;
    width: 100%;
}

.form-group #editor p {
    font-size: 14px;
    color: #948b8b;
    padding: 10px;
}

.register-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
}

.register-btn:focus {
    outline: none;
}

.notice-section {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background: #a1d7a1;
    color: #444444;
}

.notice-section p {
    font-size: 18px;
    letter-spacing: 0.4px;
    text-align: center;
}

.search-ujuri-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dadada;
    padding: 30px 10px;
    margin: 30px 0;
    border-radius: 10px;
}

.search-ujuri-section button {
    margin-top: 40px;
}

.search-ujuri-section button a {
    color: white;
}

.search-ujuri-section .search-ujuri-wrapper {
    max-width: 800px;
    width: 100%;
    padding: 0 15px;
}

.search-ujuri-section h3 {
    text-align: center;
}

.search-ujuri-section input {
    width: 100%;
    margin-top: 30px;
    padding: 7px 15px;
    font-size: 16px;
    border: 1px solid #bbb9b9;
    border-radius: 7px;
}

.search-ujuri-section button {
    text-align: center;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 400;
}

.dastur-section {
    padding: 30px 80px;
    background: #dadada;
    margin: 30px 0;
    border-radius: 10px;
}

.dastur-section h1 {
    margin-bottom: 30px;
}

.dastur-section form {
    margin-bottom: 30px;
}

.dastur-section form .form-group {
    margin-bottom: 30px;
}

.dastur-section form .form-group input {
    font-size: 16px;
    padding: 20px;
}

.dastur-section form .btn {
    margin-top: 30px;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
}

.dastur-section form .btn:focus {
    outline: none;
}

#dastur-page .case-payment-section {
    display: none;
}

#dastur-page .case-payment-section .case-info-table {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#dastur-page .case-payment-section .case-info-table .left-content,
#dastur-page .case-payment-section .case-info-table .right-content {
    flex: 1 0 48%;
    background: #cbd6e6;
    padding: 20px;
    border-radius: 10px;
}

#dastur-page .case-payment-section .case-info-table ul li {
    text-align: center;
}

#dastur-page .case-payment-section .case-info-table ul li h4 {
    margin-bottom: 20px;
    color: #232344;
    font-size: 18px;
    font-weight: 600;
}

#niyam-page .niyam-section {
    padding: 30px 80px;
    background: #dadada;
    margin: 30px 0;
    border-radius: 10px;
}

#niyam-page .niyam-section h1 {
    margin-bottom: 25px;
}

#niyam-page .niyam-section .btn {
    display: inline-block;
    padding: 13px 20px;
    font-size: 17px;
    color: white;
    border-radius: 7px;
    font-weight: 400;
    letter-spacing: 0.4px;
    width: 100%;
    margin-inline: auto;
    white-space: normal;
}

#niyam-page .niyam-section .btn:not(last-of-type) {
    margin-bottom: 25px;
}


#hamro-barema-page .hamro-barema-section {
    margin: 20px 0 100px;
}

#hamro-barema-page .hamro-barema-section .hamro-barema-container h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 26px;
    padding-bottom: 5px;
    border-bottom: 1px solid #055d9f;
}

#hamro-barema-page .hamro-barema-section .hamro-barema-container p {
    line-height: 1.9;
    font-size: 18px;
    color: #252424;
    letter-spacing: 0.2px;
}

.case-info {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
    background: #fff;
    border-radius: 10px;
}

.case-info h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 21px;
    text-decoration: underline;
}

.case-info table {
    width: 60%;
    margin: 0 auto;
}

.case-info table th {
    color: #1373c5;
}

.case-info table th, .case-info table td {
    padding: 5px 100px;
}

.payment-options-section {
    margin: 40px 0;
    background: #dadada;
    padding: 40px 15px;
    border-radius: 10px;
}

.payment-options-section h4 {
    font-size: 17px;
    line-height: 1.4;
    text-align: center;
}

.payment-options {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.payment-options-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.multiselect-dropdown {
    width: auto !important;
    display: flex !important;
    margin: auto !important;
    padding: 8px !important;
    font-size: 16px !important;
}

.img-container {
    width: 110px;
    height: auto;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.next-btn:focus {
    outline: none;
}

/*--------------------------------- Content Wrapper Ends ----------------------------------*/
/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
/*---------------------------------- Footer Wrapper Ends ----------------------------------*/
/*----------------------------------- Components Starts ------------------------------*/
.form-control {
    padding: 0.375rem 0.75rem;
    height: 34px !important;
}

input[type="file"]:focus {
    outline: none;
}

.upload-btn {
    display: inline-block;
    background-color: #0e42ab;
    color: white;
    padding: 10px 30px;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: 500;
    margin-top: 1rem;
}

.upload-btn i {
    margin-left: 10px;
    font-size: 19px;
}

.breadcrumbs-section .breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background: #f1f1f1;
    margin-bottom: 0px;
    padding: 10px 0;
}

.breadcrumbs-section .breadcrumb li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.breadcrumbs-section .breadcrumb li:first-of-type:before {
    display: none;
}

.breadcrumbs-section .breadcrumb li a {
    font-size: 16px;
    color: #0b1da5;
}

.breadcrumbs-section .breadcrumb li span {
    color: #464545;
}

input[type='file'] {
    margin-top: 5px;
    height: 40px;
    position: relative;
    cursor: pointer;
    color: #919191;
}

input[type='file']::after {
    content: '\f093';
    background: #f3a04a;
    font-family: 'font awesome 5 free';
    font-weight: 900;
    color: #fff;
    font-size: 18px;
    padding: 7px 39px;
    position: absolute;
    left: 0;
    text-align: center;
}

.input1::after {
    padding: 7px 43px !important;
}

.common-main-heading {
    text-align: center;
    font-size: 25px;
    color: var(--color-main-heading);
    font-weight: 600;
}

.common-case-btn {
    display: block;
    margin-inline: auto;
    background: #1076b9;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 30px auto;
    font-size: 16px;
}

.common-case-btn:hover {
    background: #095b90;
}

.common-remove-tab-style {
    border-bottom: 0;
}

.common-remove-tab-style li a {
    padding: 0;
    background-color: transparent;
    border: 0;
}

.common-remove-tab-style li a:focus, .common-remove-tab-style li a:hover {
    background-color: transparent;
    border: 0;
}

.common-remove-tab-style li.active a {
    background-color: transparent;
    border: 0;
}

.common-remove-tab-style li.active a:focus, .common-remove-tab-style li.active a:hover {
    background-color: transparent;
    border: 0;
}

.common-section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dadada;
    padding: 30px;
    margin: 30px 0;
    border-radius: 10px;
}
/*------------------------------------ Components Ends ------------------------------------*/
/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*---------------------------------- Slick Slider Starts ----------------------------------*/
.slick-slider .slick-prev {
    left: 20px;
}

.slick-slider .slick-next {
    right: 20px;
}

/*----------------------------------- Slick Slider Ends -----------------------------------*/
/*----------------------------------- Slick Slider Ends -----------------------------------*/
/*------------------------------------- Mcustom Starts ------------------------------------*/
/*-------------------------------------- Mcustom Ends -------------------------------------*/
/*-------------------------------------- Modal Starts -------------------------------------*/
.modal-dialog {
    margin: 70px auto;
}

.modal-dialog .modal-header {
    padding: 0;
    border: 0;
}

.modal-dialog .modal-header button {
    position: absolute;
    top: -30px;
    right: 0;
    color: #fff;
    opacity: 1;
}

.modal-dialog .modal-content {
    background: black;
    border-radius: 0;
}

.modal-dialog .modal-content .modal-body {
    padding: 30px 26px;
}

.modal-dialog .modal-content .modal-body .modal-loading-gif {
    height: 130px;
    position: relative;
}

.modal-dialog .modal-content .modal-body .modal-loading-gif img {
    width: 30px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.modal-dialog .modal-content .modal-body p,
.modal-dialog .modal-content .modal-body h1,
.modal-dialog .modal-content .modal-body h2,
.modal-dialog .modal-content .modal-body h3,
.modal-dialog .modal-content .modal-body h4,
.modal-dialog .modal-content .modal-body h5,
.modal-dialog .modal-content .modal-body h6,
.modal-dialog .modal-content .modal-body ul li,
.modal-dialog .modal-content .modal-body ol li,
.modal-dialog .modal-content .modal-body span {
    color: #fff;
}

.common-court-btn {
    margin-inline: auto;
    background: #2a88bf;
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    outline: none;
}

/*--------------------------------------- Modal Ends --------------------------------------*/
/*# sourceMappingURL=thestyles.css.map */
