@media (max-width: 991px) {
	#home-page {
		.card-body {
			.graph-wrapper {
				width: 80%;
			}
		}
	}
}
@media (max-width: 768px) {
	.header-right {
		.nav-item {
			.nav-link {
				margin-right: -10px;
			}
		}
	}
	#home-page {
		.card-body {
			.graph-wrapper {
				width: 60%;
			}
		}
	}
}
@media (max-width: 500px) {
	#home-page {
		.card-body {
			.graph-wrapper {
				width: 80%;
			}
		}
	}
}