/*-------------------------------------- Fonts Starts -------------------------------------*/
/*--------------------------------------- Fonts Ends --------------------------------------*/
/*------------------------------------- Colors Starts -------------------------------------*/
/*-------------------------------------- Colors Ends --------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
/* Global Variables */
.important {
  color: #e74c3c;
}

.common-citizen-modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.common-citizen-modal.show {
  display: block;
}

.ex-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ex-flex-wrap {
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.ex-vertical {
  top: 50%;
  transform: translateY(-50%);
}

.ex-transition {
  transition: all 0.6s ease;
}

.ex-transition-medium {
  transition: all 1.2s ease;
}

.ex-transition-large {
  transition: all 1.8s ease;
}

/*--------------------------------------- Mixins Ends -------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

/*------------------f-------------- Content Wrapper Starts ---------------------------------*/
.nav-header a .img-container img {
  width: 60px;
}
.nav-header a .text-container h3 {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

#home-page .card-body .graph-wrapper {
  width: 60%;
  margin-inline: auto;
}

.common-citizen-list .card-header .right-content {
  display: flex;
  gap: 10px;
}
.common-citizen-list .card-body input,
.common-citizen-list .card-body select {
  border: none;
  border-bottom: 1px solid #e0dbdb;
}
.common-citizen-list .card-body .common-round-btn {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.common-citizen-list .card-body .common-round-btn.search-btn {
  font-size: 18px;
}
.common-citizen-list .card-body .common-round-btn.refresh-btn {
  font-size: 21px;
}
.common-citizen-list .card-body .common-round-btn.refresh-btn.rotate {
  transform: rotate(180deg);
  transition: 0.3s;
}
.common-citizen-list .card-body table {
  margin: 10px;
  margin-top: 40px;
}
.common-citizen-list .card-body table td .btn {
  display: inline;
}
.common-citizen-list .card-body .pagination {
  margin-top: 30px;
  margin-left: 10px;
}
.common-citizen-list .card-body .pagination .page-item:nth-of-type(1), .common-citizen-list .card-body .pagination .page-item:nth-of-type(5) {
  background: #eee;
}
.common-citizen-list .card-body .pagination .page-item:nth-of-type(1) .page-link span, .common-citizen-list .card-body .pagination .page-item:nth-of-type(5) .page-link span {
  color: #7356f1;
}
.common-citizen-list .card-body .pagination .page-item .page-link {
  color: #7356f1;
}
.common-citizen-list .card-body .pagination .page-item .page-link span {
  color: #7356f1;
}
.common-citizen-list .card-body .pagination .page-item .page-link:hover {
  color: #fff;
}
.common-citizen-list .card-body .pagination .page-item .page-link:hover span {
  color: #fff;
}

/*--------------------------------- Content Wrapper Ends ----------------------------------*/
.common-citizen-modal {
  font-family: "Poppins", sans-serif !important;
}
.common-citizen-modal .modal-body {
  padding: 40px;
  overflow-x: auto;
}
.common-citizen-modal .modal-body .btn-close {
  background: none;
  border: none;
  font-size: 28px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.common-citizen-modal .modal-body .btn-close:hover {
  color: #7e7d7d;
}
.common-citizen-modal .modal-body .white-info {
  min-width: 740px;
  max-width: 740px;
  margin-inline: auto;
}
.common-citizen-modal .modal-body .white-info .print-size-front {
  background: #adcfdf;
  padding: 20px;
  border-radius: 4px;
}
.common-citizen-modal .modal-body .white-info .print-size-front .id-logo img {
  height: 65px;
}
.common-citizen-modal .modal-body .white-info .print-size-front .id-title {
  text-align: center;
}
.common-citizen-modal .modal-body .white-info .print-size-front .id-title h1 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: black;
}
.common-citizen-modal .modal-body .white-info .print-size-front .id-title h3 {
  font-size: 14px;
  font-weight: 400;
  color: black;
  margin: 8px;
}
.common-citizen-modal .modal-body .white-info .print-size-front .id-title h2 {
  font-size: 13px;
  color: white;
  background-color: #ebae0c;
  border-radius: 88px;
  padding: 4px;
  max-width: 260px;
  margin-inline: auto;
  font-weight: 400;
  margin-top: 8px;
}
.common-citizen-modal .modal-body .white-info .print-size-front .id-photo-frame {
  background: white;
  width: 100px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.common-citizen-modal .modal-body .white-info .print-size-front .id-body .col {
  color: #000;
}
.common-citizen-modal .modal-body .white-info .print-size-front .id-body .col .input-padder {
  margin-left: 5px;
}
.common-citizen-modal .modal-body .white-info .print-size-front .id-body .note-nepali {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
}
.common-citizen-modal .modal-body .white-info .print-size-back {
  background: #adcfdf;
  padding: 20px;
  border-radius: 4px;
}
.common-citizen-modal .modal-body .white-info .print-size-back .col {
  color: #000;
  font-size: 15px;
}
.common-citizen-modal .modal-body .white-info .print-size-back .col .input-padder {
  margin-left: 5px;
}
.common-citizen-modal .modal-body .white-info .print-size-back .stamp-box .stamp-box-border {
  width: 100px;
  height: 100px;
  border: 2px solid black;
}
.common-citizen-modal .modal-body .white-info .print-size-back .note {
  font-size: 13px;
  font-weight: 500;
}

@media (min-width: 576px) {
  .common-citizen-modal .modal-dialog {
    max-width: 1200px;
    margin: 1.75rem auto;
  }
}

 #app-setting-page .card-description {
      font-weight: 500;
      line-height: 1.8;
      color: #4659b7;
}

.header .profile-dropdown-menu {
      display: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      position: absolute;
      bottom: -62px;
      right: -24px;
      z-index: 999999;
      background: white;
}
.header .profile-dropdown-menu.show {
      display: block;
}

.sidebar-menu {
    width: 17.1875rem;
    padding-bottom: 112px;
    height: 100%;
    position: fixed;
    top: 5rem;
    padding-top: 0;
    z-index: 2;
    background-color: #fff;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
    overflow: auto;
}

.sidebar-menu.reduceSize {
    width: 3.75rem;
    overflow: visible;
}

.sidebar-menu .sidebar-menu-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidebar-menu .sidebar-menu-list li{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
}

.sidebar-menu .sidebar-menu-list li a{
    position: relative;
    padding: 0.8125rem 1.25rem;
    outline-width: 0;
    text-decoration: none;
    color: #111;
    font-weight: 600;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.sidebar-menu .sidebar-menu-list li .sidebar-menu-dropdown{
    display: none;
    transition: all 0.2s ease-in-out;
    background: var(--light-purple);
    padding: 0 0px 0 25px;
    position: relative;
    z-index: 1;
}

.sidebar-menu .sidebar-menu-list li .sidebar-menu-dropdown.show{
    display: block;
}

.sidebar-accordion {
  margin: auto;
}
.sidebar-accordion input {
  display: none;
}
.box {
    position: relative;
    background: white;
    height: 64px;
    cursor: pointer;
    margin: 5px 0;
    transition: all .15s ease-in-out;
}
.box label{
    margin-bottom: 0;
}
.box label i{
    font-size: 16px;
    padding: 0 0.4375rem 0 0;
}
header.box {
  background: #00BCD4;
  z-index: 100;
  cursor: initial;
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px -2px rgba(0,0,0,.12),0 2px 4px -4px rgba(0,0,0,.24);
}
header .box-title {
  margin: 0;
  font-weight: normal;
  font-size: 16pt;
  color: white;
  cursor: initial;
}
.box-title {
  width: 100%;
  /*
  height: 46px;
  line-height: 46px;
  */
  padding: 20px;
  display: inline-block;
  color: #000;
  cursor: pointer;
  -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}

.box-title:hover {
    background: var(--light-purple);
    color: #102fa3;
}
.sidebar-menu .box-content .heading {
    display: none;
}

.sidebar-menu.reduceSize .box-title:hover .nav-text{
    position: absolute;
    left: 60px;
    top: 7px;
    width: 200px;
    background: var(--light-purple);
    padding: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #000;
    display: block !important;
}

.sidebar-menu.reduceSize .box-title:hover ~ .box-content,
.sidebar-menu.reduceSize .box-content:hover{
    position: absolute;
    left: 60px;
    top: 0px;
    width: 200px;
    background: var(--light-purple);
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #000;
    display: block !important;
}

.sidebar-menu.reduceSize .box-content:hover ~ .box-title {
    background: var(--light-purple);
}

.sidebar-menu.reduceSize .box-title:hover ~ .box-content .heading,
 .sidebar-menu.reduceSize .box-content:hover .heading{
    display: block;
    font-size: 14px;
    color: #102fa3;
}

.box-title .nav-text {
    position: relative;
}

.box-title .nav-text.hide {
    display: none;
}

.box-content {
  width: 100%;
  background: var(--light-purple);
  padding: 0px 20px 15px;
  font-size: 11pt;
  color: rgba(0,0,0,.54);
  display: none;
}

.box-content li {
    padding: 10px;
    margin-left: 10px;
}

.box-content li a{
   font-size: 14px;
}

.box-close {
  position: absolute;
  height: 64px;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}
input:checked + .box {
  height: auto;
}
input:checked + .box .box-title {
    background: var(--light-purple);
    color: #102fa3;
  /* border-bottom: 1px solid rgba(0,0,0,.18); */
}
input:checked + .box .box-content,
input:checked + .box .box-close {
  display: inline-block;
}

.sidebar-menu.reduceSize input:checked + .box .box-content,
input:checked + .box .box-close {
    display: none;
}

.arrows section .box-title {
  /* width: calc(100% - 64px); */
  position: relative;
}
.sidebar-accordion .box:first-of-type .box-title:before {
    display: none;
}
.arrows section .box-title:before {
    position: absolute;
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: inherit;
    top: 48%;
    right: 1.5625rem;
    -webkit-transform-origin: top;
    transform-origin: top;
    top: 50%;
    transition: all .3s ease-out;
    -webkit-transform: rotate(-225deg) translateY(-50%);
    transform: rotate(-225deg) translateY(-50%);
}


.sidebar-menu.reduceSize  .arrows section .box-title:before {
    display:none;
}

input:checked + section.box .box-title:before {
  transform: rotate(-135deg) translateY(-50%);
  color: #102fa3;
}


.sidebar-accordion .accordion-item {
    padding: 20px;
}

.sidebar-accordion .accordion-item:hover {
    background: var(--light-purple);
}

.sidebar-accordion .accordion-item:hover a{
    color: #102fa3;
}

.sidebar-accordion .accordion-item a {
    display: flex;
    align-items: center;
    color: #000;
}
.sidebar-accordion .accordion-item a i{
    font-size: 16px;
}

.sidebar-accordion .accordion-item .nav-text {
    margin-left: 10px;
    position: relative;
}

/*# sourceMappingURL=thestyles.css.map */