<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <!------------------------ Meta STARTS ---------------------->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>सुनवर्षी नगरपालिका - मोरङ जिल्ला</title>
    <!-- <link rel="icon" type="image/x-icon" href="/static/admin/img/logo/logo.png"> -->
    <meta property="og:title" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:image:alt" content="">
    <meta property="og:description" content="">
    <!------------------------- Meta ENDS ----------------------->

	<!-- Google icons -->
	<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&family=Noto+Sans+Devanagari:wght@100;200;300;400;500;600;700;800&family=Noto+Sans:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="/static/admin/images/logo.png">
	<!-- Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Boxicons CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Font Awesome CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Datatable -->
	<link href="vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
	<!-- Summernote -->
	<link href="vendor/summernote/summernote.css" rel="stylesheet">
	<!-- Nepali Datepicker CDN -->
	<link href="http://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/css/nepali.datepicker.v4.0.min.css" rel="stylesheet" type="text/css" />
	<!-- Bootstrap cdn -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
	<!-- Dropify -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" integrity="sha512-EZSUkJWTjzDlspOoPSpUFR0o0Xy7jdzW//6qhUkoZ9c4StFkVsp9fbbd0O06p9ELS3H486m4wmrCELjza4JEog==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-------------------- Site Style STARTS -------------------->
	<link rel="stylesheet" th:href="@{/admin/vendor/jqvmap/css/jqvmap.min.css}">
	<link rel="stylesheet" th:href="@{/admin/vendor/chartist/css/chartist.min.css}">
	<link rel="stylesheet" th:href="@{/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css}">
	<link rel="stylesheet" th:href="@{/admin/css/style.css}">
	<link rel="stylesheet" th:href="@{/admin/css/variables.css}">
	<link rel="stylesheet" th:href="@{/admin/css/thestyles.css}">
	<link rel="stylesheet" th:href="@{/admin/css/responsive.css}">
	<link rel="stylesheet" th:href="@{/admin/css/skin-2.css}">
	<!--------------------- Site Style ENDS --------------------->

    <!--Multi-Select with checkbox CSS Starts-->
	<link rel="stylesheet" type="text/css" th:href="@{/admin/css/example-styles.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/admin/css/demo-styles.css}">
    <!--Multi-Select with checkbox CSS ENDS-->

    <!--Bootstrap Multiselect CSS STARTS-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
    <!--Bootstrap Multiselect CSS ENDS-->=
</head>
<body>

<!--/* Standard layout can be mixed with Layout Dialect */-->
<div th:replace="admin/fragment/header :: header">

</div>

<div layout:fragment="content">

</div>

<div th:replace="admin/fragment/footer :: footer">

</div>

</body>
</html>