<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Books</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h2>List of Books</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>File</th>
        <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
        <td><img th:src="@{../../../../uploads/IMG_20211216_104456.jpg}"></td>
        <td><a th:href="@{/editBook/{id}(id=${book.id})}">Edit</a></td>
        <td><a th:href="@{/deleteBook/{id}(id=${book.id})}">Delete</a></td>
    </tr>
    <!-- Add more rows as needed -->
    </tbody>
</table>

</body>
</html>
