<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MainMenu</title>
    <style>
        body{
            text-align:center;
        }
        a{
            text-decoration:none;
        }
        a:hover{
            color:red;
        }
    </style>
</head>
<body>
  <h1>MainMenu</h1>
  <h3>Choose any one !!!</h3>
  1. <a href="addBook">Add Books</a><br>
  2. <a href="addLibrarian">Add Librarians</a><br>
  3. <a href="addStudent">Add Students</a><br>
  4. <a href="displayBooks">Display list of Books</a><br>
  5. <a href="displayLibrarians">Display list of Librarians</a><br>
  6. <a href="displayStudents">Display List of Students</a><br>

</body>
</html>