<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{admin/layout/admin-main}">
<head>
    <meta charset="UTF-8">
    <title>ड्यासबोर्ड</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<!--**********************************
          Content body start
      ***********************************-->
<div id="disable-citizen-list-page" layout:fragment="content">
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="card senior-citizen-list common-citizen-list">
                <div class="card-header" style="flex-wrap: wrap; gap: 20px;">
                    <div class="left-content">
                        <h5 class="card-title">User List</h5>
                    </div>
                    <div class="right-content">
                        <button class="btn btn-primary"><i class='bx bx-download'></i> Download</button>
                        <a href="/admin/add-disable-citizen">
                            <button class="btn btn-green"><i class='bx bx-user-plus'></i> Add</button>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-sm mb-0 table-striped">
                                    <thead>
                                    <tr>
                                        <th class="py-3 card-title">S.N</th>
                                        <th class="py-3 card-title">Reg.No</th>
                                        <th class="py-3 card-title">Full Name</th>
                                        <!-- <th class="py-3" class="py-3">जन्म मिति</th> -->
                                        <th class="py-3 card-title">Age</th>
                                        <th class="py-3 card-title">Gender</th>
                                        <th class="py-3 card-title">Address</th>
                                        <th class="py-3 card-title">Registered on</th>
                                        <th class="py-3 card-title">Edit</th>
                                        <th class="py-3 card-title">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="customers">
                                    <tr class="btn-reveal-trigger" th:each="citizen:${citizens}">
                                        <th class="p-3" scope="row" th:text="${citizen.id}"></th>
                                        <td class="py-2" th:text="${citizen.citizenshipNo}"></td>
                                        <td class="py-2" th:text="${citizen.firstName}"></td>
                                        <td class="py-2" th:text="${citizen.dob}"></td>
                                        <td class="py-2" th:text="${citizen.gender}"></td>
                                        <td class="py-2" th:text="${citizen.dob}"></td>
                                        <td class="py-2" th:text="${citizen.citizenshipNo}"></td>
                                        <td class="py-2">
                                            <a th:href="@{|/admin/disable-citizen/edit/${citizen.id}|}"
                                               class="btn btn-sm btn-danger edit-btn"><i class="la la-pencil"></i></a>
                                            <a class="btn btn-sm btn-green view-btn"><i class="la la-eye"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--**********************************
            Content body end
        ***********************************-->
</body>
</html>
