<!------------------------------------- Wrapper Starts ------------------------------------->
<div id="wrapper" th:fragment="header" xmlns:th="http://www.thymeleaf.org">

	<!--*******************
        Preloader start
    ********************-->
	<div id="preloader">
		<div class="sk-three-bounce">
			<div class="sk-child sk-bounce1"></div>
			<div class="sk-child sk-bounce2"></div>
			<div class="sk-child sk-bounce3"></div>
		</div>
	</div>
	<!--*******************
        Preloader end
    ********************-->

		<!--**********************************
        Main wrapper start
    ***********************************-->

	<div id="main-wrapper">

		<!--**********************************
            Nav header start
        ***********************************-->
		<div class="nav-header">
			<a href="index.html" class="brand-logo">
				<div class="img-container">
					<img class="logo-abbr" src="images/lab.jpg" alt="">
				</div>
				<!-- <img class="logo-compact" src="images/logo-text-white.png" alt="">
                <img class="brand-title" src="images/logo-text-white.png" alt=""> -->
				<div class="text-container logo_name brand-title">
					<h3>LabSoft</h3>
					<h3>smart lab for your business</h3>
				</div>
				<!-- <h3 class="brand-title">Eshikshya</h3> -->
			</a>

			<div class="nav-control">
				<div class="hamburger">
					<span class="line"></span><span class="line"></span><span class="line"></span>
				</div>
			</div>
		</div>
		<!--**********************************
            Nav header end
        ***********************************-->

		<!--**********************************
            Header start
        ***********************************-->
		<div class="header">
			<div class="header-content">
				<nav class="navbar navbar-expand">
					<div class="collapse navbar-collapse justify-content-between">
						<div class="header-left">
							<div class="search_bar dropdown">
								<span class="search_icon p-3 c-pointer" data-toggle="dropdown">
									<i class="mdi mdi-magnify"></i>
								</span>
								<div class="dropdown-menu p-0 m-0">
									<form>
										<input class="form-control" type="search" placeholder="Search" aria-label="Search">
									</form>
								</div>
							</div>
						</div>

						<ul class="navbar-nav header-right">
							<li class="nav-item dropdown header-profile">
								<a class="nav-link" href="#" role="button" data-toggle="dropdown">
									<!-- <img src="images/profile/education/pic1.jpg" width="20" alt=""> -->
									<i class='bx bxs-user-circle'></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<a href="settings.php" class="dropdown-item ai-icon">
										<i class='bx bx-cog'></i>
										<span class="ml-2">Settings</span>
									</a>
									<a href="/login" class="dropdown-item ai-icon">
										<i class='bx bx-log-out'></i>
										<span class="ml-2">Logout </span>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<div class="dlabnav">
			<div class="dlabnav-scroll">
				<ul class="metismenu" id="menu">
					<li><button type="button" class="btn btn-light" style="">New Case</button></li>
					<li>
						<a href="/admin/dashboard" aria-expanded="false">
							<i class='bx bxs-dashboard'></i>
							<span class="nav-text">Dashboard</span>
						</a>
					</li>
					<li>
						<a class="has-arrow" href="javascript:void()" aria-expanded="false">
							<i class='bx bxs-user-plus'></i>
							<span class="nav-text">Manage</span>
						</a>
						<ul aria-expanded="false">
							<li><a th:href="@{/admin/user-list}">Users</a></li>
							<li><a th:href="@{/admin/add_senior_citizen}">Doctor Access</a></li>
						</ul>
					</li>
					<li>
						<a class="has-arrow" href="javascript:void()" aria-expanded="false">
							<i class='bx bx-user'></i>
							<span class="nav-text">Cases</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="/admin/disable-citizen-list">All Cases</a></li>
							<li><a href="/admin/add-disable-citizen">Patients</a></li>
							<li><a href="/admin/add-disable-citizen">Payments</a></li>
							<li><a href="/admin/add-disable-citizen">Referral Doctors</a></li>
							<li><a href="/admin/add-disable-citizen">Agents</a></li>
						</ul>
					</li>
					<li>
						<a class="has-arrow" href="javascript:void()" aria-expanded="false">
							<i class='bx bx-file'></i>
							<span class="nav-text">Lab</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="/admin/senior-citizen-report">Today reports</a></li>
							<li><a href="/admin/disable-citizen-report">Search Reports</a></li>
							<li><a href="/admin/disable-citizen-report">Test Panels</a></li>
							<li><a href="/admin/disable-citizen-report">Test Categories</a></li>
							<li><a href="/admin/disable-citizen-report">Test Database</a></li>
							<li><a href="/admin/disable-citizen-report">Test Counts</a></li>
						</ul>
					</li>
					<li>
						<a class="has-arrow" href="javascript:void()" aria-expanded="false">
							<i class='bx bx-file'></i>
							<span class="nav-text">Business</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="/admin/senior-citizen-report">Daily Business</a></li>
							<li><a href="/admin/disable-citizen-report">Due Reports</a></li>
							<li><a href="/admin/disable-citizen-report">Activities</a></li>
							<li><a href="/admin/disable-citizen-report">Referral Business</a></li>
							<li><a href="/admin/disable-citizen-report">Case wise Reports</a></li>
							<li><a href="/admin/disable-citizen-report">Business Analysis</a></li>
							<li><a href="/admin/disable-citizen-report">Data Export</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!--**********************************
            Sidebar end
        ***********************************-->

		<!--Delete Modal -->
		<div class="modal fade" id="deleteModal">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<!-- <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                        </button>
                    </div> -->
					<div class="modal-body">
						<p>Are you sure you want to delete this?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-danger">Delete</button>
					</div>
				</div>
			</div>
		</div>

		<div class="common-citizen-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class='bx bx-x'></i></button>
						<div class="row mt-4">
							<div class="col-lg-10">
								<div class="white-info">
									<!-- Id Card Front Part -->
									<div class="print-size-front">
										<div class="samanya-idcard-wrapper">
											<div class="idcard-border">
												<div class="row">
													<div class="col-2">
														<div class="id-logo"><img src="images/logo.png" alt="sunawarshi nagarpalika logo"></div>
													</div>
													<div class="col-8">
														<div class="id-title">
															<h1>सुनवर्षी नगरपालिका</h1>
															<h3>नगरपालिका कार्यालय</h3>
															<h3>सुनवर्षी नगरपालिका,मोरङ</h3>
															<h2>ज्येष्ठ नागरिक परिचय-पत्र प्रतिलिपि</h2>
														</div>
													</div>
													<div class="col-2">
														<div class="id-photo-frame">
															<p>Photo</p>
														</div>
													</div>
												</div>
												<div class="id-body">
													<div class="row mb-1">
														<div class="col">प. प. नं.: <span class="input-padder"></span></div>
													</div>
													<div class="row mb-1">
														<div class="col">नाम थर: <span class="input-padder">रीता सिंह</span></div>
													</div>
													<div class="row mb-1">
														<div class="col">ना.प्र.नं.: <span class="input-padder">२०५८-१०१-०२०</span>
														</div>
													</div>
													<div class="row mb-1">
														<div class="col">ठेगाना: जिल्ला <span class="input-padder">हुम्ला</span>
														</div>
														<div class="col">गा.पा./न.पा.: <span class="input-padder">मालारानी गाउँपालिका
															</span></div>
													</div>
													<div class="row mb-1">
														<div class="col">वडा नं.: <span class="input-padder">१२</span>
														</div>
														<div class="col">टोल/गाउँ: <span class="input-padder">टोल</span></div>
													</div>
													<div class="row mb-1">
														<div class=" col col-6">जन्म मिति/उमेर: <span class="input-padder">२०१३-०९-०६ /
																६५</span></div>
														<div class=" col col-3">लिङ्ग: <span class="input-padder">पुरुष</span>
														</div>
														<div class="col col-3">रक्त समूह: <span class="input-padder">A+</span>
														</div>
													</div>
													<div class="row mb-1">
														<div class="col">उपलब्ध छुट तथा सुविधाहरु: <span class="input-padder">छैन</span></div>
													</div>
													<div class="row mb-1">
														<div class="col">पति/पत्नीको नाम: <span class="input-padder">गगन सिंह</span></div>
													</div>
													<div class="row mb-1">
														<div class="col">हेरचाह केन्द्रमा बसेको भए सोको विवरण: <span class="input-padder">छैन</span></div>
													</div>
													<div class="row">
														<div class="col text-center note-nepali">यो परिचय-पत्र कसैले पाएमा नजिकैको
															प्रहरी चौकी वा स्थानीय तहमा बुझाइदिनु होला</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="print-size-back mt-4">
										<div class="samanya-idcard-wrapper">
											<div class="idcard-border">
												<div class="idcard-back">
													<div class="row mb-1">
														<div class="col">ID Card No: <span class="input-padder"></span></div>
														<!-- <div class="col">ID Card Type: <span class="input-padder"> 'Kha'</span></div> -->
													</div>
													<div class="row  mb-1">
														<div class="col">1) Name of Id Holder: <span class="input-padder">Rita Singh</span></div>
													</div>
													<div class="row  mb-1">
														<div class="col col-4">Address: District: <span class="input-padder">Humla</span></div>
														<div class="col col-6">Local Level: <span class="input-padder">Malarani Rural Municipality</span></div>
														<div class="col col-2">Ward No: <span class="input-padder">12</span></div>
													</div>
													<div class="row mb-1">
														<div class="col col-6">Date of Birth/Age: <span class="input-padder">1956-12-20/65</span></div>
														<div class="col ">Citizenship No./District: <span class="input-padder">010021546/Sarlahi</span></div>
													</div>
													<div class="row mb-1">
														<div class="col">Issue Date: <span class="input-padder">2048-09-03</span></div>
														<div class="col">Sex: <span class="input-padder" style="text-transform: capitalize;">male</span></div>
														<div class="col">Blood Group: <span class="input-padder">A+</span></div>
													</div>
													<div class="row mb-1">
														<div class="col">Contact Person: <span class="input-padder">Bishnu Singh</span></div>
													</div>
													<div class="row mb-1">
														<div class="col">Signature of ID Card Holder:<span class="input-padder"></span></div>
														<div class="col">Approved By:<span class="input-padder"></span></div>
													</div>
												</div>
											</div>
										</div>
										<div class="row mb-1">
											<div class="col col-6 mt-2">
												<div class="row">
													<div class="col col-4">
														<div class="stamp-box">
															<p style="text-align: center; margin-bottom: 10px;">Right</p>
															<div class="stamp-box-border"></div>
														</div>
													</div>
													<div class="col col-4">
														<div class="stamp-box">
															<p style="text-align: center; margin-bottom: 10px;">Left</p>
															<div class="stamp-box-border"></div>
														</div>
													</div>
												</div>
											</div>
											<div class="col col-6 mt-4">
												<div class="row">
													<div class="col mb-2">Signature:<span class="input-padder"></span></div>
												</div>
												<div class="row">
													<div class="col mb-2">Name:
														<span class="input-padder"> सुदर्शन दाहाल </span>
													</div>
												</div>
												<div class="row">
													<div class="col mb-2">Designation:
														<span class="input-padder">प्रमुख प्रशासकीय अधिकृत</span>
													</div>
												</div>
												<div class="row">
													<div class="col mb-2">Date:
														<span class="input-padder"></span>
													</div>
												</div>
											</div>
										</div>
										<div class="row mb-1">
											<div class="col text-center mt-3 note">If somebody finds this ID card, Please
												deposit this in the nearby police station or municipality office.</div>
										</div>
									</div>
								</div>

							</div>
							<div class="col-lg-2" style="margin-left: auto">
								<button class="btn btn-green mt-3" style="width: 100%; justify-content: center; max-width: 150px; margin-inline: auto;">स्वीकृत गर्नुहोस् </button>
								<button class="btn btn-primary mt-3" style="width: 100%; justify-content: center; max-width: 150px; margin-inline: auto;">पहिलो पृष्ट</button>
								<button class="btn btn-primary mt-3" style="width: 100%; justify-content: center; max-width: 150px; margin-inline: auto;">दोस्रो पृष्ट</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="theModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<i class="flaticon-close"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="modal-loading-area">
							<div class="title">
								<h4>This is the title</h4>
							</div>
							<div class="content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra nisl eget lacus mollis pulvinar. Mauris porttitor sem eu fermentum aliquet. In mattis fermentum malesuada. Maecenas tempor enim nec commodo eleifend. Nulla facilisi. Aenean ac placerat ante. Quisque laoreet neque sit amet enim iaculis, sed sollicitudin turpis rutrum. Donec ultricies ultrices erat vel viverra. Suspendisse tincidunt erat eu neque posuere, vel bibendum ipsum scelerisque.</p>
								<p>Sed eget arcu luctus, tristique velit ac, hendrerit urna. Aenean eget purus enim. Sed consequat mi at rhoncus commodo. Donec metus tortor, dignissim sit amet facilisis et, accumsan vitae mauris. Pellentesque consectetur at quam sed volutpat. Mauris faucibus, nisl lobortis consequat aliquam, quam est sodales erat, et tincidunt ligula metus in purus. Nulla posuere arcu in felis porttitor, vel maximus tellus feugiat. Proin imperdiet arcu vel urna feugiat, in elementum purus facilisis.</p>
								<p>Sed sapien sem, commodo eget nibh vel, euismod hendrerit neque. Quisque et augue eu nisl tristique bibendum. Maecenas euismod consequat ex sed congue. Donec convallis risus odio, nec lobortis sem fringilla ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla at augue eu nisi varius rhoncus. Donec quis facilisis mauris. Duis lobortis ultricies sapien, ut faucibus velit euismod quis. Suspendisse potenti. Suspendisse aliquam ipsum id leo fermentum, quis interdum mauris semper.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
