<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="sidebar">
        <header>Hello, Admin</header>
        <a href="dashboard" class="active">
            <!--            <i class="fas fa-qrcode"></i>-->
            <span>Dashboard</span>
        </a>
        <a href="books">
            <!--            <i class="fa-solid fa-book"></i>-->
            <span>Books</span>
        </a>
        <a href="students">
            <!--            <i class="fa-solid fa-person"></i>-->
            <span>Students</span>
        </a>
        <a href="librarians">
            <!--            <i class="fa-solid fa-book-open-reader"></i>-->
            <span>Librarians</span>
        </a>
        <a href="records">
            <!--            <i class="fa-solid fa-book-open"></i>-->
            <span>Records</span>
        </a>
<!--        <a href="displayStudents">-->
<!--            &lt;!&ndash;            <i class="fa-solid fa-users"></i>&ndash;&gt;-->
<!--            <span>View Students</span>-->
<!--        </a>-->
<!--        <a href="displayLibrarians">-->
<!--            &lt;!&ndash;            <i class="fa-solid fa-users-line"></i>&ndash;&gt;-->
<!--            <span>View Librarians</span>-->
<!--        </a>-->
<!--        <a href="displayRecords">-->
<!--            &lt;!&ndash;            <i class="fa-solid fa-users-line"></i>&ndash;&gt;-->
<!--            <span>Records</span>-->
<!--        </a>-->

    </div>
</body>

</html>